<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.js" integrity="sha512-lyIq9fRcCeSCXhp41XC/250UBmypAHV8KW+AhLcSEIksWHBfhzub6XXwDe67wTpOG8zrO2NAU/TYmEaCW+aQSg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous"></script>
        <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet"/>

        <link th:insert="header.html"/>

        <title th:text = "${@environment.getProperty('bakery.title')}">Bakery</title>
    </head>

    <body>
        <script src="/js/main.js"></script>

        <div th:insert="menu/topMenu.html"/>

        <div class="container"> 

            <ul class="pagination pagination-sm">
                <li th:each="page : ${#numbers.sequence(1, orders.getTotalPages())}" th:class="${(orders.getNumber()== (page - 1)) ? 'page-item active' : 'page-item'}">
                    <a class="page-link" th:text="${page}" th:href="|/list?page=${page - 1}&size=${orders.getSize()}|"></a>
                </li>
            </ul>

            <ul class="pagination pagination-sm">
                <li class="page-item disabled">
                    <a class="page-link" href="#">Элементов на странице </a>
                </li>
                <li th:each="number : ${#numbers.sequence(5, 20, 5)}" th:class="${(orders.getSize()== number) ? 'page-item active' : 'page-item'}">
                    <a class="page-link" th:href="|/list?page=${orders.getNumber()}&size=${number}|">[[${number}]]</a>
                </li>
            </ul>

            <div th:if="${error} != null" class="alert alert-danger" role="alert" id="alertMessageDiv">
                <span id="message"> [[${error}]]</span>                    
            </div>


            <form method="POST" th:action="@{/list/sortByDate}">    
                <div class="row">                    
                    <div class="col-2">
                        <input class="form-control m-3" type="date" name="startDate" value="${startDate}"/>
                    </div>
                    <div class="col-2">
                        <input class="form-control m-3" type="date" name="endDate" text="${endDate}"/>                    
                    </div>
                    <div class="col-2">
                        <input type="submit" class="btn btn-outline-secondary m-3" value="Отсортировать по дате"/>
                    </div>
                </div>
            </form>


            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Номер</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Новый заказ</th>
                        <th scope="col">Место назначения</th>
                    </tr>
                </thead>
                <tbody id="orders-container">
                    <tr class="table-row" th:each= "order, iter : ${orders}" th:onclick="|window.location='/list/info/${order.id}'|">
                        <td th:text="${iter.index + 1}"></td>
                        <td th:text="${order.id}"></td>
                        <td th:text="${#temporals.format(order.orderDate, 'dd MMMM yyyy HH:mm')}"></td>
                        <td th:text="${order.isNew ? 'Да' : 'Нет'}"></td>
                        <td th:text="${order.destination}"></td>
                    </tr>
                </tbody>
            </table>

            <a class="btn btn-outline-secondary" href="/catalog">Назад в каталог</a>
        </div>
    </body>
</html>